.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  height: 58px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgb(219, 214, 214);
  z-index: 100;
  
}

.left-section {
  align-items: center;
  justify-content: center;
  justify-items: center;
  display: flex;
  height: 100%;
  margin-right: 30px;
}

.middle-section {
  flex: 1;
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  align-content: center;
  max-width: 480px;
  margin-left: 70px;
  margin-right: 30px;
}

.right-section {
 
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  height: 100%;
  margin-right: 20px;
  flex-shrink: 0;
}

.hamburger-icon {
  height: 23px;
  margin-right: 23px;
  margin-left: 25px;
  cursor: pointer;
}

.youtube-logo {
  width: 90px;
  height: 90px;
  cursor: pointer;
}
.search-bar {
  flex: 1;
  border: 1px solid #cccccc;
  height: 36px;
  border-radius: 2px;
  padding-left: 12px;
  font-size: 16px;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
  width: 0;

}

.search-bar::placeholder {
  font-size: 16px;
  color: rgb(160, 151, 151);
  font-family: roboto, sans-serif;
  font-weight: 100;
}

.search-button, 
.voice-icon-button,
.upload-container,
.apps-container, 
.notification-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-button {
  height: 40px;
  width: 65px;
  margin-left: -1px;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  margin-right: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}

.search-button .tooltip,
.voice-icon-button .tooltip,
.upload-container .tooltip,
.apps-container .tooltip,
.notification-container .tooltip {
  position: absolute;
  background-color: rgb(172, 166, 166);
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -27px;
  opacity: 0;
  transition: opacity 0.25s;
  pointer-events: none;
  white-space: nowrap;
  cursor: pointer;
}

.search-button:hover .tooltip,
.voice-icon-button:hover .tooltip,
.upload-container:hover .tooltip,
.apps-container:hover .tooltip,
.notification-container:hover .tooltip {
  opacity: 1;
}

.search-button:hover {
  background-color: #efecec;
}



.search-icon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  cursor: pointer;
}

.voice-icon {
  height: 25px;
  width: 25px;
  margin-top: 3px;
  cursor: pointer;
  
}

.voice-icon-button {
  background-color: #f8f8f8;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
}

.icon-right-section {
  height: 25px;
}

.pp-right-section {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  cursor: pointer;
  object-fit: cover;
  object-position: center top;

}


.notification-count {
  position: absolute;
  top: -1px;
  right: -3px;
  background-color: rgb(191, 47, 47);
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 10px;
  color: white;
}


